# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/jarRepositories.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_18_12.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/robustdb.iml
/robustdb-raft/robustdb-raft.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/encodings.xml
/.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_1.xml
/.idea/libraries/Maven__com_google_android_annotations_4_1_1_4.xml
/.idea/libraries/Maven__com_google_api_grpc_proto_google_common_protos_1_17_0.xml
/.idea/libraries/Maven__com_google_auth_google_auth_library_credentials_0_20_0.xml
/.idea/libraries/Maven__com_google_auth_google_auth_library_oauth2_http_0_20_0.xml
/.idea/libraries/Maven__com_google_auto_value_auto_value_annotations_1_7.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_28_2_android.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_http_client_google_http_client_1_34_0.xml
/.idea/libraries/Maven__com_google_http_client_google_http_client_jackson2_1_34_0.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_12_0.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_util_3_12_0.xml
/.idea/libraries/Maven__com_google_re2j_re2j_1_2.xml
/.idea/libraries/Maven__com_squareup_okhttp_okhttp_2_7_4.xml
/.idea/libraries/Maven__com_squareup_okio_okio_1_13_0.xml
/.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__io_grpc_grpc_all_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_alts_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_api_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_auth_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_context_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_core_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_grpclb_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_netty_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_netty_shaded_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_okhttp_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_protobuf_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_protobuf_lite_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_services_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_stub_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_testing_1_30_2.xml
/.idea/libraries/Maven__io_grpc_grpc_xds_1_30_2.xml
/.idea/libraries/Maven__io_netty_netty_buffer_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http2_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_http_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_codec_socks_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_common_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_handler_proxy_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_resolver_4_1_48_Final.xml
/.idea/libraries/Maven__io_netty_netty_transport_4_1_48_Final.xml
/.idea/libraries/Maven__io_opencensus_opencensus_api_0_24_0.xml
/.idea/libraries/Maven__io_opencensus_opencensus_contrib_http_util_0_24_0.xml
/.idea/libraries/Maven__io_opencensus_opencensus_proto_0_2_0.xml
/.idea/libraries/Maven__io_perfmark_perfmark_api_0_19_0.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_5.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_10.xml
/.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_12.xml
/.idea/libraries/Maven__org_checkerframework_checker_compat_qual_2_5_5.xml
/.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_18.xml
/.idea/libraries/Maven__org_conscrypt_conscrypt_openjdk_uber_2_2_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
